.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my modifications  */
.location-indicator {
  color: rgb(0, 210, 148);
  font-size: small;
  padding-top: 3px;
}

.location-indicator:hover {
  color: rgb(0, 210, 148);
}

.location-indicator-header {
  margin-top: 2em;
  margin-bottom: 2em;
}

.image-border {
  border-radius: 1em;
}

.in-div {
  background-color: red;
  position: absolute;
  font-size: 0.6em;
  color: white;
  font-weight: bold;
  margin: 0em;
  padding: 0em;
  right: 1.9em;
  padding: 0em 0.3em;
  border-bottom-left-radius: 0.5em;
  border-top-right-radius: 0.8em;
}
.lower-in-div {
  background-color: red;
  position: absolute;
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  /* margin: 0em; */
  padding: 0.2em 0.3em;
  right: -3.8em;
  top: -3.7em;
  /* padding: 0em 0.3em; */
  border-bottom-left-radius: 0.3em;
  /* border-top-right-radius: 0.8em; */
}

.custom-class {
  color: rgb(111, 116, 138);
  font-size: 1em;
  padding-top: 0.3em;
  /* padding-bottom: 0.3em; */
}
.custom-class:hover {
  color: rgb(111, 116, 138);
}

.footer {
  margin-top: 4em;
  padding-top: 4.5em;
  padding-bottom: 5em;
  background-color: rgb(23, 29, 49);
}

.sub-footer {
  border-bottom: 1px solid rgb(111, 116, 138);
}
